.white-background {
    -fx-background-color: #F1F0FE;
}
.full-white-background {
    -fx-background-color: #FFFFFFFF;
}
.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.cancel-button {
    -fx-background-color: rgb(0, 0, 0);
}
.button-style {
    -fx-background-color: #5B5B5B;
}
.black-background {
    -fx-background-color: rgb(0, 0, 0);
}

.card-style {
    -fx-background-color: #a5b6e2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: #000000;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10);

}

.menu-background {
    -fx-background-color: #5735ef;
    -fx-border-color: #2A2E32;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
.form-background {
    -fx-background-color: #5735ef;
    -fx-border-color: #2A2E32;
}

.player-background {
    -fx-background-color: #FFFFFFFF;
    -fx-border-color: #62F700;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10);

}
.buy-button {
    -fx-background-color: rgba(246, 0, 0, 0.95);
    -fx-border-color: #5C5C5C;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.buy-button:hover {
    -fx-background-color: #5C5C5C;
}
.white-border {
    -fx-border-color: #AFAFAFFF;
}


.separator:horizontal .line {
    -fx-background-color: #5C5C5C;
    -fx-border-color: #5C5C5C;
}

.white-background .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.white-background .corner {
    -fx-background-color: transparent;
}
.white-background .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.white-background .scroll-bar:vertical .thumb {
}
.white-background .scroll-bar:horizontal .thumb {
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}
.selected {
    -fx-background-color: #E0DDED;
}
.mouse-moved:hover {
    -fx-background-color: #E0DDED;
}
.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);
}